*{
    font-family: 'Irish Grover', cursive;
    font-family: 'Inconsolata', monospace;
    margin: 0;
    padding: 0;

}


hr{
    color: white;
  border-width: 2px;
  width: 70%;
  margin:auto;
  opacity: 50%;
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    #3616eb00,
    rgba(255, 255, 255, 1),
    #3616eb00
  );
}



html{
    background-color: #352F44;
    scroll-behavior: smooth;
    
}



/* Home */


.title{
    display: inline-block;
    /* font-family: 'Irish Grover', cursive; */
    font-size: 50px;
    padding-bottom: 2%;
    /* color:#DF2935; */
    font-weight: 900;
    color: transparent;
    -webkit-background-clip: text;
    display: inline-block;
    /* background-image: #F7F8F8;  
    background-image: -webkit-linear-gradient(to right, #ACBB78, #F7F8F8);  
    background-image: linear-gradient(to right, #ACBB78, #F7F8F8);  */
    text-transform: uppercase;
    transition: transform .4s;
    background-image: rgb(255,231,0);
    background-image: linear-gradient(90deg, rgba(255,231,0,1) 0%, rgba(245,232,44,1) 32%, rgba(255,254,206,1) 100%); 

}

h1:hover{
    transform: scale(1.1) ;
}





.navbar-item{
    
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar{
    background-color: #352F44;
    position: sticky;
    top: 0;
    margin-top: 50px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    z-index: 100;
    
   
   
}





.main{
    padding-top: 110px;
    padding-bottom: 150px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

/* .main-left{

    
} */


.main-right{
    display: flex;
    flex-direction: column;
    padding: 0px 10px 0px 40px;
    width: 50%;
}



.subtitle{
    display: inline-block;
    padding-bottom: 20px;
    color: #ffffff;
}

/* Skills */


.title2{
    display: inline-block;
    padding: 5px;
   
    font-size: 20px;
    padding-bottom: 2%;
    font-weight: 400;
    color: transparent;
    -webkit-background-clip: text;
    display: inline-block;
    background-image: #F7F8F8;  /* fallback for old browsers */
    background-image: -webkit-linear-gradient(to right, #ACBB78, #F7F8F8);  /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(to right, #ACBB78, #F7F8F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-transform: uppercase;
    transition: transform .4s;

}

.text >p{
   padding: 0px 0px 0px 50px;
   text-align: justify;
}
.text1 >p{
    padding: 0px 50px 0px 0px;
 }


#skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.grid-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 33%;
    align-items: center;
   
}
.grid-inner1, .grid-inner2 , .grid-inner3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
   
   
}

/* .grid-inner3{
    width: 80%;
  
   
    
} */

.grid-inner2{
    flex-direction: row-reverse;
    width: 80%;
    
    
} 

.text{
    margin: auto;
    text-align: justify;
}


.gif{
    margin: auto;
}

.title2>h1{
    text-align: center;
    padding-top: 40px;
}



/* hover effect */
.profile{
    border-radius: 50%;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  
  
}
.profile:hover{
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.icon{  
    padding: 20px 10px 20px 10px;
    color: rgb(255, 255, 255);
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    position: relative;
}
.icon:hover{
    color: #352F44;
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.icon::after{
    content: "";
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transition: all 0.5s ;
    transform: translate(-50%,-50%) scale(0);
    z-index: -1;
}

.icon:hover::after{
    transform: translate(-50%,-50%) scale(1);
    background-color: #ffffff;
}

.gif{
    color: black;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.gif:hover{
    color: #fbfafd;
    -webkit-filter: grayscale(0);
	filter: grayscale(0);

}

p:hover{
    color: #d7c0d0;
    transition: .4s ease-in-out;

}

