body {
  text-align: center;
  background-color: gray;
  
}

h1 {
  font-size: 5rem;
  color: #000000;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #351a1a;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
  margin-top: 20px;
}

.profile{
  color: #DBEDF3;
  font-family: sans-serif;
  margin-top: 20px;
}

#title {
  padding-top: 10px;
  text-align: center;
  width: 100%;
  background-color: gray;
  border-radius: 100%;

}
#title:hover{
  background-color:  #a5a5a5;
}
.img {
  width: 70%;
  
 
 
}


.set {
  margin: 3% 3%;
  direction: rtl;

}

.pressed {
  box-shadow: 0 3px 4px 0 hsl(120, 92%, 47%);
  opacity: 0.5;
}

.red {
  color: rgb(72, 255, 0);
}


.button1 {
  
  display: inline-block;
  width: 10%;
  text-align: center;
  margin: 5px;
  background-color: rgb(226, 223, 223);
  text-decoration: none;
  border-radius: 15px;
  background-color: #a5a5a5;
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  color: rgba(255,255,255,0.8);
  cursor: pointer;
  text-transform: uppercase;
}


.button1:hover {
  background-color: rgb(70, 67, 67);
}

.button{
  text-decoration: none;
  padding-top: 10px;
  text-align: center;
  width: 30%;
  background-color: gray;
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 100%;

}

.button:hover {
  background-color: rgb(70, 67, 67);
}


@media (max-width: 980px) {
.button1{
  width: 20%;
}

  

}